.THIS .slds-nav-vertical ul {
    list-style-type: none;
    padding: 0;
}

.THIS .slds-nav-vertical li {
    margin: 10px 0;
}

.THIS .slds-nav-vertical a {
    text-decoration: none;
    color: #0070d2;
}

.THIS .slds-nav-vertical a:hover {
    text-decoration: underline;
}
.THIS .bgcWhite {
     background-color:white;
    
}
.THIS .button-containerADvertising {
    display: flex;
    float: right;
      width: min-content;
    top: 19px;
}
.THIS .button-83 {
    width: inherit;
    appearance: button;
    background-color: #8694f4;
    background-image: linear-gradient(to bottom, #fff, #eceae787);
    border: 1px solid #d4d2d2;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #444444;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 100%;
    flex: 1;
    font-weight: 700;
    line-height: 13px;
    margin: 3px;
    outline: 2px solid transparent;
    padding: 0.6rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow:-6px 8px 10px rgb(81 41 10 / 11%), 0 2px 2px rgb(81 41 10 / 10%);
}




.THIS .card-wrapper {
    position: relative;
}

.THIS .expanded {
    transition: all 0.3s ease-in-out;
    height: auto;
    overflow: hidden;
}

.THIS .collapsed {
    transition: all 0.3s ease-in-out;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f6f9;
}

.THIS .collapsed .slds-m-around_medium {
    display: none;
}

.THIS .collapsed::after {
    content: "Expand";
    display: block;
    text-align: center;
    font-size: 12px;
}
 

.THIS .toggle-button {
    position: relative;
    top: 10px;
    right: 10px;
    color: white;
    background: black;
}