.slds-form-element {
    margin-bottom: 1rem;
}

.slds-checkbox {
    margin-bottom: 0.5rem;
}

.slds-checkbox__label {
    display: flex;
    align-items: center;
}

.slds-checkbox_faux {
    margin-right: 0.5rem;
}

.slds-box {
    background-color: #f3f2f2;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
}

.slds-theme_shade {
    background-color: #f8f9fa;
}

.slds-grid.slds-gutters {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.slds-grid.slds-gutters > .slds-col {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.slds-notify {
    margin: 1rem 0;
}

.slds-m-bottom_x-small {
    margin-bottom: 0.25rem;
}

.slds-m-bottom_small {
    margin-bottom: 0.5rem;
}

.slds-m-bottom_medium {
    margin-bottom: 1rem;
}

.slds-m-bottom_large {
    margin-bottom: 1.5rem;
}

.slds-m-right_small {
    margin-right: 0.5rem;
}

.slds-m-left_small {
    margin-left: 0.5rem;
}

.slds-text-heading_small {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25;
}

.slds-text-body_regular {
    font-size: 0.875rem;
    line-height: 1.5;
}

/* Radio button styling */
.slds-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Responsive design */
@media (max-width: 768px) {
    .slds-grid.slds-wrap > .slds-col.slds-size_1-of-2 {
        width: 100%;
    }
    
    .slds-radio-group {
        flex-direction: column;
        gap: 0.5rem;
    }
}